<div class="translator-content">
<div class="translator-lang">
  <%= form_for(:sayings, url: lookup_path) do |f| %>

    <%= f.select(:language) do %>
      <% [['English', 1], ['German', 2]].each do |c| -%>
        <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
</div>
  <!-- <div class="translator-lang">
        <div><input type="radio" name="lang"/>
          <label onclick="" class="toggle-btn">german</label>
        </div>
        <div><input type="radio" name="lang"/>
          <label onclick="" class="toggle-btn">english</label>
        </div>
    </div> -->
  <%= f.text_area :phrase, class: "col-md-5 translator-textarea" %>
<div class="col-md-2 translate-button">
  <%= f.submit "translate", class: "btn btn-lg btn-primary btn-block" %>
</div>
<%= f.text_area :phrase2, class: "col-md-5 translator-textarea" %>
<% end %>
</div>
