<% provide(:title, 'Adminstration') %>
<h1>Aministration</h1>
<nav>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "Add a new Saying", new_saying_path %></li>
  </ul>
</nav>

<div class="sayings-edit"><link

<%= will_paginate %>

<table class="sayings_table">
  <% @sayings.each do |saying| %>
    <%= render saying %>
    <li class="delete-link">
      <%= link_to "delete", saying,
          method: :delete, data: {confirm: "Are you sure?"} %>
    </li>
   <% end %>
 </table>

<%= will_paginate %>
