<footer class="footer">
  <small>
    This is a university project by
              <a href="https://twitter.com/SarahOnDaCloud">Sarah</a>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
      <%= form_for(:session, url: logout_path) do |f| %>
        <li>eingeloggt als admin</li> <!-- fix admin, to user.name -->
        <%= f.submit "Log out", class: "btn btn-primary" %>
        <% end %>
      <% else %>
    <%= form_for(:session, url: login_path) do |f| %>
      <li>Admin Login:</li>
      <li> <%= f.text_field :name, :placeholder => "name",
                            class: 'translator-login'%></li>
      <li><%= f.password_field :password, :placeholder => "password",
                                class: 'translator-login' %></li>
      <%= f.label :remember_me, class: 'checkbox-inline' do %>
        <%= f.check_box :remember_me %>
        <span>eingeloggt bleiben</span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <% end %>

    </ul>
  </nav>
    </small>
</footer>
